[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"


[dev-packages]

absl-py = "*"
asgiref = "*"
astor = "*"
attrs = "*"
backcall = "*"
bleach = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
chardet = "*"
Click = "*"
colorama = "*"
cryptography = "*"
decorator = "*"
defusedxml = "*"
dj-database-url = "*"
Django = "*"
django-heroku = "*"
django-sslserver = "*"
dnspython = "*"
entrypoints = "*"
eventlet = "*"
Flask = "*"
Flask-SocketIO = "*"
gast = "*"
gevent = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-pasta = "*"
greenlet = "*"
grpcio = "*"
h5py = "*"
idna = "*"
importlib-metadata = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
ipywidgets = "*"
itsdangerous = "*"
jedi = "*"
Jinja2 = "*"
jsonschema = "*"
jupyter = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyter-core = "*"
kaggle = "*"
Keras-Applications = "*"
Keras-Preprocessing = "*"
Markdown = "*"
MarkupSafe = "*"
mistune = "*"
monotonic = "*"
more-itertools = "*"
nbconvert = "*"
nbformat = "*"
notebook = "*"
numpy = "*"
oauthlib = "*"
opt-einsum = "*"
pandocfilters = "*"
parso = "*"
pickleshare = "*"
prometheus-client = "*"
prompt-toolkit = "*"
protobuf = "*"
psycopg2 = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
Pygments = "*"
PyJWT = "*"
pyrsistent = "*"
python-dateutil = "*"
python-engineio = "*"
python-slugify = "*"
python-socketio = "*"
python3-openid = "*"
pytz = "*"
pywin32 = "*"
pywinpty = "*"
pyzmq = "*"
qtconsole = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
Send2Trash = "*"
six = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
tensorboard = "*"
tensorflow = "*"
tensorflow-estimator = "*"
termcolor = "*"
terminado = "*"
testpath = "*"
text-unidecode = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
urllib3 = "*"
virtualenv = "*"
wcwidth = "*"
webencodings = "*"
Werkzeug = "*"
whitenoise = "*"
widgetsnbextension = "*"
wrapt = "*"
zipp = "*"
